:root {
  --primary-color: #353738;
  --secondary-color: #f9e4b7;
  --text-color: #001e47;
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#to-do-list-container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
  background-color: var(--secondary-color);
  width: 280px;
  font-family: "Unbounded-Regular";
  border-radius: 50px;
  border: inset 5px solid #ffe1b8;
  position: relative;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

input {
  font-family: "Unbounded-light";
  border: 1px solid #0a1410;
  border-radius: 15px;
  text-align: center;
  height: 30px;
  width: 60%;
  margin: 4px auto;
  box-shadow: inset;
  background-color: #e5f0ff;
}

.dateInput {
  font-family: "Unbounded-light";
  border: 1px solid #0a1410;
  border-radius: 0px;
  text-align: center;
  height: 30px;
  margin-bottom: 20px;
  width: auto;
  cursor: pointer;
}

.inpSearch {
  width: 67%;
  font-family: "Unbounded-light";
  border: 1px solid #0a1410;
  border-radius: 15px;
}
.validTaskBtn {
  padding: 4px;
  margin-top: 6px;
  cursor: pointer;
  font-weight: 600;
}
.taskName {
  display: flex;
  width: auto;
  padding-top: 5px;
  background-color: #ffe1b8;
  border-radius: 15px;
  align-items: center;
  width: 90%;
}

ul {
  padding: 0;
  max-height: 260px;
  overflow: auto;
}

.ul li {
  list-style: none;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  transition: 2s;
}

.add {
  background-color: #b8d6ff;
  border: 1px solid var(--text-color);
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--text-color);
  font-family: "Unbounded-light";
  font-size: 16px;
  position: relative;
  top: 0;
  left: 0;
}
.add:hover {
  background-color: var(--primary-color);
  color: #b8d6ff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
  top: -5px;
}
.deleteBtn,
.btn {
  background-color: #b8d6ff;
  border: 1px solid #0a1410;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  font-size: 20px;
}
.checkBtn {
  background-color: #b8d6ff;
  border: 1px solid #0a1410;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  font-size: 20px;
}

.deleteBtn:hover,
.btn:hover,
.validTaskBtn:hover {
  background-color: var(--primary-color);
  color: #b8d6ff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
  top: -5px;
}
.task-content {
  width: 8em;
  padding: 5px;
  border: none;
  background-color: rgb(156, 200, 214);
  font-size: 0.85rem;
}

@media all and (min-width: 501px) {
  #to-do-list-container {
    width: 500px;
  }
  .taskName {
    width: 60%;
  }
  .task-content {
    width: 14em;
  }
}
