:root {
  --primary-color: #353738;
  --secondary-color: #f9e4b7;
  --ternary-color: #e5f0ff;
  --text-color: #001e47;
}

body {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.to-do-list {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: inset 5px solid #ffe1b8;
  padding-bottom: 20px;
}

#to-do-list-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: center;
  font-family: "Unbounded-Regular";
}

h1,
h2,
label {
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}
#label-details,
#description-details,
#creation-details,
#end-details {
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

h1 {
  font-size: 22px;
  margin: 15px 0px;
}
h2 {
  font-size: 18px;
  margin: 8px 0px;
}

button {
  cursor: pointer;
}
menu {
  padding: 0px;
}
input,
span,
button {
  font-size: 10px;
}

input {
  font-family: "Unbounded-light";
  border: 1px solid #0a1410;
  border-radius: 15px;
  text-align: center;
  height: 30px;
  width: 60%;
  margin: 4px auto;
  box-shadow: inset;
  background-color: var(--ternary-color);
}
#label,
#description,
#search-by-start-date,
#search-by-end-date {
  font-size: 12px;
}
.search-by-text {
  display: flex;
  flex-direction: column;
}
.search-by-text label {
  font-size: 18px;
}

.search-by-date {
  display: flex;
}
.search-by-date > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search-by-date label {
  font-size: 16px;
}
.search-by-date > div > input {
  width: auto;
  cursor: pointer;
}

.date-input {
  margin-left: 8px;
  font-family: "Unbounded-light";
  border: 1px solid #0a1410;
  border-radius: 0px;
  text-align: center;
  height: 30px;
  width: auto;
  cursor: pointer;
}
.filter-by-end-input {
  margin: 0px 10px;
  background-color: #b8d6ff;
  cursor: pointer;
  font-size: 10px;
}
.search-mode {
  padding: 2px 0px 2px 2px;
  margin: 0px 0px 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 30px;
}
#filter-by-end-text {
  font-size: 12px;
  min-width: 140px;
}
.task-name {
  display: flex;
  justify-content: end;
  padding: 5px;
  background-color: #ffe1b8;
  border-radius: 15px;
  align-items: center;
  width: 84%;
  margin: 0 8%;
  overflow-x: hidden;
}

ul {
  padding: 0;
  max-height: 260px;
  overflow-y: auto;
}

.ul li {
  list-style: none;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  transition: 2s;
  height: 50px;
  align-items: center;
}

.delete-button,
.details-button {
  background-color: #b8d6ff;
  border: 1px solid #0a1410;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.valid-task-button,
.cancel-button {
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.delete-button:hover,
.details-button:hover,
.valid-task-button:hover,
.cancel-button:hover,
.filter-by-end-input:hover {
  background-color: var(--primary-color);
  color: #b8d6ff;
  transition: all 0.4s cubic-bezier(0.3, 0.7, 0.1, 1.9);
}

.task-start {
  display: none;
}
.task-content,
.task-end {
  font-weight: bold;
  font-size: 0.85rem;
  flex: 1 1 auto;
  text-align: left;
  width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.task-start,
.task-end {
  text-align: center;
}
.task-content {
  padding-left: 0px;
  color: var(--text-color);
}
.task-end {
  min-width: 106px;
}
#favDialog {
  width: 250px;
  padding: 10px 10px 10px 18px;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #000;
}
@media all and (min-width: 501px) {
  .container {
    height: calc(100vh - 16px);
  }
  .delete-button,
  .details-button {
    height: 28px;
    width: 34px;
    margin-left: 10px;
  }
  .to-do-list {
    width: 500px;
  }
  .search-by-text label {
    font-size: 20px;
  }
  .search-by-date label {
    font-size: 18px;
  }

  .task-content,
  .task-start,
  .task-end {
    padding: 8px;
    width: 130px;
  }
  .task-content {
    padding-left: 0px;
  }
  .task-name {
    width: auto;
    margin: 0px;
  }
  .task-start {
    display: flex;
    font-weight: bold;
    font-size: 0.85rem;
    flex: 1 1 auto;
    text-align: left;
    width: 130px;
  }
  ul {
    margin: 0 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  menu {
    padding: 8px;
  }
  input,
  span,
  button {
    font-size: 14px;
  }
  .valid-task-button,
  .cancel-button {
    padding: 6px;
    font-size: 16px;
  }

  #label,
  #description,
  #search-by-start-date,
  #search-by-end-date {
    font-size: 16px;
  }
  #description {
    margin-bottom: 8px;
  }
  #label-details,
  #description-details,
  #creation-details,
  #end-details {
    color: #000;
    font-weight: bold;
    font-size: 16px;
  }
}
